body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

main.Error{
  margin-top: 5rem;
  text-align: center;
}

main{
  text-align: center;
  background-color:floralwhite;
}

.Descripcion{
  background-color: lightskyblue;
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: aliceblue;
  border-bottom: darkslategrey solid 0.2rem;
}

footer{
  text-align: center;
  background-color: darkslategrey;
  color: aliceblue;
  margin: 0px auto;
  font-size: 115%;
}

.navbar{
  list-style-type: none;
  overflow: hidden;
  
}

.navbar li{
  border-right: azure solid 0.01rem;
}

.navbar li:last-child{
  border-right: none;
}

.navbar li a{
  text-decoration: none;
  color: aliceblue;
  font-size: 165%;
  transition: 300ms all;
  margin: 0px auto;
}

.navbar a:hover{
  color: rgb(0, 183, 255);
}

.header{
  background-color: darkslategrey;
  color: aliceblue;
  position: sticky;
  text-align: center;
  border-bottom: rgb(0, 183, 255) solid 0.2rem;
}

#header{
  position: sticky;

}

.header img{
  width: 35%;
  animation: rotate infinite 30s linear;
}

@keyframes rotate{
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
}

svg{
  width: 3rem;
  height: 3rem;
  transition: 300ms all;
}

svg:hover{
  color: black;
}